<h2>Generated object</h2>

<div class="w-25">
  <%= form_with(model: [ @game, @game.ruby_objects.build ], local: true) do |form| %>
    <div class='form-group'>
      <%= form.label :attacker %><br>
      <%= form.text_field :attacker, value: @game.turn, readonly: true, class: 'form-control' %>
    </div>
    <div class='form-group'>
      <%= form.label :number_attributes %><br>
      <%= form.text_field :number_attributes, value: number_attributes, readonly: true, class: 'form-control' %>
    </div>
    <%= form.submit 'Launch Object', class: 'btn btn-primary' %>
  <% end %>
</div>