<h1>Ranking Games</h1>

<table>
  <tr>
    <th>Player 1 Name</th>
    <th>| Player 2 Name</th>
    <th>| Winner Wall Health Remaining</th>
    <th>| Winner</th>
    <th colspan="1"></th>
  </tr>
 
  <% @games.each do |game| %>
    <tr>
      <td><%= game.name %></td>
      <td>| <%= game.rival %></td>
      <td>| <%= winner_health(game) %></td>
      <td>| <%= winner(game) %></td>
      <td><%= link_to 'Go to game', game_path(game) %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'New Game', new_game_path %>