<h1>Game</h1>

<table>
  <tr>
    <th>Scores</th>
    <th>Attribute numbers of the five last objects history</th>
  </tr>
  <tr>
    <td>
      <p>
        <strong>Player 1:</strong>
        <%= @game.name %>
        <% if @game.turn == 1 %>
          <-
        <% end %>
      </p>

      <p>
        <strong>Player 1 hit points:</strong>
        <%= @game.hit_points %>
      </p>

      <p>
        <strong>Player 2:</strong>
        <%= @game.rival %>
        <% if @game.turn == 2 %>
          <-
        <% end %>
      </p>

      <p>
        <strong>Player 2 hit points:</strong>
        <%= @game.hit_points_rival %>
      </p>
    </td>
    <td>
      <table>
        <tr>
          <th>Player one</th>
          <th>Player two</th>
        </tr>
        <% @game.ruby_objects.last(10).reverse_each do |r_o| %>
          <tr>
            <td><%= r_o.number_attributes if r_o.attacker == 1 %></td>
            <td><%= r_o.number_attributes if r_o.attacker == 2 %></td>
          </tr>
        <% end %>
      </table>
    </td>
  </tr>
</table>

<div>
  <h2>Generated object</h2>
  <%= form_with(model: [ @game, @game.ruby_objects.build ], local: true) do |form| %>
    <p>
      <%= form.label :attacker %><br>
      <%= form.text_field :attacker, value: @game.turn, readonly: true %>
    </p>
    <p>
      <%= form.label :number_attributes %><br>
      <%= form.text_field :number_attributes, value: number_attributes, readonly: true %>
    </p>
    <p>
      <%= form.submit 'Launch Object' %>
    </p>
  <% end %>
</div>

<%= link_to 'Back', games_path %>
