<h1>New Player for Game </h1>

<%= form_with model: @player do |form| %>

  <p>
    <%= form.label :player_one %>
    <%= form.text_field :name %>
  </p>

  <p>
    <%= form.label :player_two %>
    <%= form.text_field :rival %>
  </p>

  <%= form.submit 'Go to play' %>
  
<% end %>